{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta name="description" content="Welcome to Skönhetsbutiken – your destination for exclusive beauty products. Discover and shop our premium selection today!">
{% endblock %}

{% block content %}


    <!-- Hero Section -->
    <section class="hero bg-secondary text-white text-center py-5" style="top:70px;">
        <h1 class="display-4">Welcome to Skönhetsbutiken</h1>
        <p class="lead">Discover our exclusive beauty products and shop online now!</p>
        <a class="btn btn-light btn-lg" href="#" role="button" style="margin-bottom: 40px;">Shop Now</a>
    </section>

{% endblock %}