{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <!-- Logo -->
        <img src="{% static 'img/logo-small.png' %}" alt="Brand Logo" style="height: 60px;">
        <span class="h1 mb-0 ml-2" style="font-size: 1.4rem;">Skönhetsbutiken</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="shopDropdown">
                    <a class="dropdown-item" href="{% url 'lashes' %}">Lashes</a>
                    <a class="dropdown-item" href="{% url 'glue' %}">Glue</a>
                    <a class="dropdown-item" href="{% url 'other' %}">Other</a>
                    <a class="dropdown-item" href="#">Special Offers</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        <!-- Search form -->
        <form class="form-inline ml-auto" method="GET" action="">
            <div class="input-group">
                <input class="form-control border border-black" type="search" placeholder="Search our site" name="q" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-black border border-black" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Account and cart section -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-right">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="#">
                    <div class="text-right">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
