{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Checkout</h1>
    {% if cart %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>
                        <!-- Visa liten bild av produkten -->
                    <a href="{% url 'product_detail' item.product.id %}">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 50px; height: auto;">
                        <a href="{% url 'product_detail' item.product.id %}">
                            {{ item.product.name }}
                        </a>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price|floatformat:2 }}</td>
                    <td>${{ item.total_price|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right mt-4">
            <h4>Total: ${{ cart.get_total_price|floatformat:2 }}</h4>
            <a href="{% url 'order_success' %}" class="btn btn-success mt-3">Confirm Purchase</a>
        </div>
    {% else %}
        <p class="text-center">Your cart is empty. <a href="{% url 'products' %}">Continue Shopping</a></p>
    {% endif %}
</div>
{% endblock %}