{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Get in touch with us for any inquiries, support, or information about our beauty products. We're here to help!">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Contact Us</h1>
            <p>Address: Norway, Oslo, Sigurd Hoels vei 2, 0655</p>
            <p>Phone: +123 456 7890</p>
        </div>
    </div>
</div>

<div class="map-container">
    <div id="map"></div>
</div>

<script>
    function initMap() {
        var location = { lat: 59.91664464621775, lng: 10.785113667952734 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmKFmZScmkrJFO594jH1-V6vTsZ-s94AE&callback=initMap"></script>
{% endblock %}
