{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1>Contact Us</h1>
    <p>Address: Norway, Oslo, Sigurd Hoels vei 2, 0655</p>
    <p>Phone: +123 456 7890</p>
    <div id="map" style="width:100%;height:400px;"></div>
</div>

<script>
    function initMap() {
        var location = { lat: 59.91664464621775, lng: 10.785113667952734 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmKFmZScmkrJFO594jH1-V6vTsZ-s94AE&callback=initMap"></script>
{% endblock %}