{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta name="description" content="Explore our complete selection of beauty products, including lashes, glue, and other essentials to enhance your beauty routine.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">All Products</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 mb-4" style="padding-top: 50px;">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ product.price }} USD</p>
                    <a href="#" class="btn btn-success btn-block">Add to Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available at the moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
