{% extends 'base.html' %}
{% load static %}

{% block title %}Special Offers{% endblock %}

{% block meta %}
<meta name="description" content="Check out our special offers on selected beauty products and enjoy exclusive discounts and deals. Limited time only!">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Special Offers</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <p>Sorry, there are no special offers available at the moment. Please check back later!</p>
        </div>
    </div>
</div>
{% endblock %}
